body
{
	background-color: #cccccc;
	font-family: verdana;
	font-size: 10px;
	text-align: center;
}

.baseContainer, table
{
	background-color: #ffffff;
	margin: 20px auto;
	padding: 20px;
	width: 600px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
}

.left
{
	float: left;
	margin-left: 5px;
	text-align: left;
}

.right
{
	float: right;
}

input[type=text], select
{
	width: 259px;
	border: 1px solid #cccccc;
}

.income
{
	background-color: #00ff00;
	color: #000000;
}

.outcome
{
	background-color: #ff0000;
	color: #ffffff;
}

#budgetSummaryPlaceholder
{
	display: none;
}

#budgetSummary
{
	font-size: 30px;
}