body
{
	background-color: #ffffff;
	text-align: center;
}

.baseContainer
{
	margin: 0 auto;
	width: 500px;
}

.left
{
	float: left;
	margin-left: 5px;
	text-align: left;
}

.right
{
	float: right;
}

input[type=text], select
{
	width: 137px;
	border: 1px solid #cccccc;
}


.fail
{
	background-color: #ff0000;
}

.good
{
	background-color: #ffffff;
}