body
{
	background-color: #cccccc;
	font-family: verdana;
	font-size: 10px;
	text-align: center;
}

td
{
	background-color: #eeeeee;
	padding: 3px;
	font-weight: bold;
}

.baseContainer, table
{
	background-color: #ffffff;
	margin: 20px auto;
	padding: 20px;
	width: 600px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
	float: center;
	overflow: hidden;
}

#placeholderInfo
{
	padding-top: 20px;
	float: center;
	width: 500px;
	margin: 0 auto;
}

.left
{
	float: left;
	margin-left: 5px;
	text-align: left;
}

.right
{
	float: right;
}

input[type=text], select
{
	width: 245px;
	border: 1px solid #cccccc;
}

.income
{
	background-color: #00ff00;
	color: #000000;
}

.outcome
{
	background-color: #ff0000;
	color: #ffffff;
}

#budgetSummaryIncomePlaceholder, #budgetSummaryOutcomePlaceholder
{
	width: 230px;
}

#budgetSummaryIncomePlaceholder, #budgetSummaryOutcomePlaceholder
{
	display: none;
}

#budgetSummaryIncome, #budgetSummaryOutcome
{
	font-size: 30px;
}

#budgetSummaryIncomePlaceholder
{
	float: left;
	padding: 10px;
}

#budgetSummaryOutcomePlaceholder
{
	float: right;
	padding: 10px;
}

h3
{
	//margin-top: 60px;
}